alembic==1.19.1
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
bcrypt==5.0.0
click==8.4.2
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.141.1
greenlet==3.5.5
h11==0.16.0
idna==3.18
Mako==1.4.1
MarkupSafe==3.0.3
passlib==1.7.4
psycopg==3.3.4
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.13.0
python-dotenv==1.2.3
python-multipart==0.0.32
SQLAlchemy==2.0.52
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.52.3
